* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/carl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top {
    background-color: red;
    text-align: center;
}

.all-section {
    position: relative;
}

.one {
    background-color: rgb(224, 179, 179);
    position: absolute;
    top: 7.5rem;
    left: 23rem;
    border-radius: 45% 55% 0% 100% / 33% 35% 65% 67%;
    width: 25rem;
    height: 30rem;
    animation: main 0s ease-in-out infinite alternate;
    
}

.two {
    background-color:  rgb(224, 179, 179);
    position: absolute;
    border-radius: 59% 41% 100% 0% / 33% 35% 65% 67%;
    top: 7.5rem;
    right: 23rem;
    width: 25rem;
    height: 30rem;
    animation: main 0s ease-in-out infinite alternate;
}

.three {
    background-color: rgba(191, 101, 252, 0.445);
    position: absolute;
    top: 21.5rem;
    right: 16.5rem;
    border-radius: 59% 41% 100% 0% / 100% 35% 65% 0%;
    margin-top: 10px;
    width: 9rem;
    height: 9rem;
    animation: carlAnimationOne 0s ease-in-out infinite alternate;
}

.four {
    background-color: rgba(191, 101, 252, 0.445);
    position: absolute;
    top: 21.5rem;
    left: 16.5rem;
    border-radius: 38% 62% 0% 100% / 32% 100% 0% 68%;
    margin-top: 10px;
    width: 9rem;
    height: 9rem;
    animation: carlAnimationOne 0s ease-in-out infinite alternate;
}

.five {
    border-radius: 59% 41% 100% 0% / 100% 35% 65% 0%;
    background-color: rgba(255, 14, 195, 0.548);
    position: absolute;
    top: 12.8rem;
    right: 12.7rem;
    margin-top: 10px;
    width: 9rem;
    height: 9rem;
    animation:  carlAnimation 0s ease-in-out infinite alternate;
}

.six {
    background-color: rgba(255, 14, 195, 0.548);
    position: absolute;
    top: 12.8rem;
    left: 12.7rem;
    border-radius: 38% 62% 0% 100% / 32% 100% 0% 68%;;
    margin-top: 10px;
    width: 9rem;
    height: 9rem;
    animation: carlAnimation 0s ease-in-out infinite alternate;
}

.seven {
    background-color: rgba(250, 150, 155, 0.438);
    position: absolute;
    top: 8rem;
    left: 12.7rem;
    border-radius: 100% 0% 74% 26% / 76% 0% 100% 24%;
    margin-top: 10px;
    width: 9rem;
    height: 9rem;
    animation: carlAnimation 0s ease-in infinite alternate;
}

.eight { 
    background-color: rgba(250, 150, 155, 0.438);
    position: absolute;
    top: 8rem;
    right: 12.7rem;
    border-radius: 0% 100% 20% 80% / 0% 80% 20% 100%;
    margin-top: 10px;
    width: 9rem;
    height: 9rem;
    animation: carlAnimation 0s ease-in-out infinite alternate;
}

.nine {  
    background-color: rgba(245, 86, 94, 0.795);
    position: absolute;
    top: 29.5rem;
    right: 22rem;
    border-radius: 90% 10% 85% 15% / 85% 10% 90% 15%;
    margin-top: 10px;
    width: 10rem;
    height: 7rem;
    animation: carlAnimationTwo 0s ease-in-out infinite alternate;
}

.ten {
    background-color: rgba(245, 86, 94, 0.795);
    position: absolute;
    top: 29.5rem;
    left: 22rem;
    border-radius: 10% 90% 15% 85% / 10% 85% 15% 90%;
    margin-top: 10px;
    width: 10rem;
    height: 7rem;
    animation: carlAnimationTwo 0s ease-in-out infinite alternate;
}

.submit {
    position: absolute;
    top: 18rem;
    left: 35rem;
    border: 1px solid #5fbbf0ad;
    background-color: #5fbbf0ad;
    border-radius: 2rem;
    width: 26rem;
    height: 15rem;
}

.submit input {
    margin: 5rem 3rem;
    width: 20rem;
    height: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    border: none;
}

.submit button a {
    text-decoration: none;
    color: black;
}

.submit button {
    position: absolute;
    border: none;
    top: 8.5rem;
    left: 9.4rem;
    width: 7rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgb(127, 197, 255);
}

@keyframes carlAnimation {
    0% {
        background-color: rgba(243, 132, 132, 0.925);
    }

    20% {
        background-color: rgba(248, 106, 106, 0.863);
    }

    40% {
        background-color: rgba(248, 38, 38, 0.884);
    }

    80% {
        background-color: rgba(253, 117, 117, 0.904);
    }

    100%{
        background-color: rgb(248, 132, 132);
    }
}

@keyframes carlAnimationOne {
    0% {
        background-color: rgba(253, 105, 204, 0.925);
    }

    20% {
        background-color: rgba(252, 62, 189, 0.925);
    }

    40% {
        background-color: rgb(250, 15, 172);
    }

    80% {
        background-color: rgb(248, 66, 187);
    }

    100%{
        background-color: rgb(255, 111, 207);
    }
}

@keyframes carlAnimationTwo {
    0% {
        background-color: rgba(218, 109, 252, 0.925);
    }

    20% {
        background-color: rgba(210, 83, 248, 0.925);
    }

    40% {
        background-color: rgba(199, 31, 250, 0.959);
    }

    80% {
        background-color: rgba(211, 99, 245, 0.925);
    }

    100%{
        background-color: rgba(214, 125, 241, 0.925);
    }
}

@keyframes main {
    0% {
        background-color: rgb(255, 132, 132);
    }

    20% {
        background-color: rgba(255, 116, 209, 0.7);
    }

    40% {
        background-color: rgba(250, 122, 250, 0.7);
    }

    80% {
        background-color: rgba(255, 96, 202, 0.7);
    }

    100%{
        background-color:  rgb(255, 132, 132);
    }
}